<div id="search-component">
        <h4><label for="search-box">People Search</label></h4>
    
        <input #peopleSearch id="search-box" (input)="search(peopleSearch.value)" />
    
        <ul class="search-result">
        </ul>
        <button (click)="search(peopleSearch.value);peopleSearch.value=''">Search</button>
</div>



<!-- <ul class='search-result'>
        <li *ngFor='let people of peoples$ | async' >    
            {{people.name}}
        </li>
    </ul> -->
<!-- <table>
<tr>
    <th>Name:</th>
    <th>Gender:</th>
    <th>Home Planet:</th>
    <th>Films:</th>
</tr>
    <tr *ngFor='let people of peoples$ | async'></tr>
        <td>{{ people.name }}</td>
        <td>{{ people.gender }}</td>
        <td>{{ people.homeworld }}</td>
        <td>{{ people.films }}</td>
</table> -->

    
