<h1>{{title}}</h1>
  


<h1>{{title}}</h1>
<div class="APIresults">
    <!-- <app-people></app-people>
    <app-starship></app-starship> -->
</div>
<nav>
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/people">People</a>
    <a routerLink="/films">Films</a>
    <a routerLink="/ships">Space Ships</a>
<nav>
    <div class="dropdown">
        <button class="dropbtn">Dropdown</button>
        <div class="dropdown-content">
            <a routerLink="/dashboard">Dashboard</a>
            <a routerLink="/people">People</a>
            <a routerLink="/films">Films</a>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
<!-- <app-films></app-films> -->