
<div class='searchDiv'>
<input #searchBar type='text' class='search' (input)='searchBar.value' placeholder="Search For People">
<button mat-button class='searchButton' color='default' (click)='searchPeople(searchBar.value); displayPeople(people)' type='button'>Search People</button>
</div>
<div class='mainDiv'>
<div *ngFor='let peeps of people' id='peopleDisplay'>
        <div class='deck'>
                <div class='card'>
                    <div class='cardContainer'>
                        <h1><em>{{ peeps.name }}</em></h1>
                        <h3>{{ peeps.gender}}</h3>
                        <p>{{ peeps.hair_color }}</p>
                        <p>{{ peeps.eye_color }}</p>
                        <p>{{ peeps.birth_year}}</p>
                    </div>
                </div>
            </div>
</div>
</div>


    
