<!-- <app-swapi-search></app-swapi-search> -->
<!-- <p>{{people}}</p> -->

<!-- <li *ngFor="let p of people"> -->
    <!-- <p>{{starships.results[9].name}}</p>
    <p>{{starships.results[9].model}}</p> -->
    <!-- <p>{{people.results[0].eye_color}}</p> -->
<!-- </li> -->
<h1>Starships</h1>
<!-- <div *ngFor="let s of starships"> -->
     <!-- <ul>
            <p>{{starships.results[9].name}}</p>
            <p>{{starships.results[9].model}}</p>
        <li>Starship: {{s.name}}</li>
        <li>Model: {{s.model}}</li>
    </ul> -->
    <p>{{starship}}</p> 
 <!-- </div>  -->
